body{
    background-color: black;
}

.header-container{
    background-color: lightblue;
    width: 100%;
    height: 100px;
}
.header-title{
    color: white;
    background-color: lightblue;
    float: left;
    margin: 10px 30px;
    font-size: large;   
}


ul{
    list-style-type: none;
    float: left;
}
.item{
    margin: 30px;
    float: left;
}