body{
    background-color: black;
}

.header-container{
    background-color: lightblue;
    width: 100%;
    height: 100px;
}
.header-title{
    color: white;
    float: left;
    margin: 10px 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;   
}

.id-name{
    color: coral;
}

.item-list-left{
    list-style-type: none;
    float: left;
}
.item-left{
    margin: 30px;
    float: left;
}

.item-list-right{
    list-style-type: none;
    float: right;
    margin: 20px;
}
.item-right{
    margin: 10px;
    float: left;
}

.body-container{
    background-color:aquamarine;
    height: 800px;
    width: 100%;
}
.footer-container{
    background-color: lightgreen;
    width: 100%;
    height: 300px;
}